fastapi
uvicorn
langchain
langchain-openai
langchain-google-genai
langgraph
openai
python-multipart
pydantic
httpx
python-dotenv
PyPDF2
pdfminer.six
pytesseract
Pillow
edge-tts
langchain-nvidia-ai-endpoints
